@media(min-width:669px){
  /*默认滚动条样式*/
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    min-height: 30px;
    border-radius: 6px;
    border: 2px solid #fff;
    margin: 5px;
    background-color: #e0e0e0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #cfcfcf;
  }
}
/* 初始化css */
html{-webkit-text-size-adjust: none;}
/* 谷歌 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
/* 火狐 */
input[type="number"]{
  -moz-appearance:textfield;
}
body {
  -webkit-tap-highlight-color: transparent;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

[v-cloak] .body, [v-cloak] .header, [v-cloak] .aside {
  display: none;
}
.loading {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #607d8b;
  background-image: url('../images/saltFish.png');
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: center 150px;
  z-index: 9999;
}
.loading div {
  font-weight: 100;
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  position: relative;
  height: 50px;
  background: #607d8b;
  color: #fff;
  padding: 0 18px;
}
.el-dialog .btn {
  display: inline-block;
  font-size: 14px;
  margin-top: 16px;
}
.el-dialog .btn:active {
  background: #f5f7fa;
}
section.header {
  line-height: 50px;
}
section.header .right {
  float: right;
}

.aside .el-dialog__header {
  padding: 0;
}
.aside .el-dialog .switch-box {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 85px;
  align-content: flex-start;
}
.aside .el-switch__label {
  color: #606266;
}

.icon-btn {
  font-size: 20px;
  cursor: pointer;
}
.aside .el-drawer__container:focus {
  outline: none;
}
.aside .el-drawer:focus {
  outline: none;
}
.aside .el-dialog__body .input-box {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.aside .el-dialog__body .input-box .label {
  font-size: 14px;
  margin-right: 10px;
}
.aside .el-dialog__body .input-box .el-select {
  width: 120px;
}
.aside .el-select .el-input__inner:focus, .aside  .el-select .el-input.is-focus .el-input__inner {
  border-color: #dcdfe6;
}
.aside .el-input__inner:focus {
  border-color: #dcdfe6;
}

.left-bar .header {
  height: 128px;
  padding: 5px 16px;
}
.left-bar .title {
  position: absolute;
  right: 16px;
  top: 30px;
  font-size: 18px;
}
.left-bar .sub-title {
  position: absolute;
  right: 16px;
  top: 75px;
  font-size: 15px;
}
.left-bar .img-header {
  width: 93px;
}

.left-bar .body {
  width: 100%;
  color: #526874;
}
.left-bar .body .nav {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-left: 70px;
  font-size: 14px;
  cursor: pointer;
}
.nav:hover, .nav.active {
  background-color: rgba(96, 125, 139, 0.2);
}
.nav i {
  font-size: 24px;
  position: absolute;
  left: 23px;
  top: 11px;
}

.pagination {
  margin-top: 6px;
  float: right;
}

.body .el-table th {
  background-color: #f5f7fa;
}
.body .el-table th .cell {
  height: 28px;
  line-height: 28px;
}
.body .el-table th .el-checkbox {
  display: none;
}
.body .el-table th .caret-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-16px);
}

.body .el-table .cell {
  white-space: pre-line;
  padding-right: 3px !important;
  line-height: 18px;
}

.body .el-table td {
  padding: 8px 0;
  font-size: 13px;
}

.suspend {
  position: absolute;
  right: 20px;
  bottom: 60px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  box-shadow: 1px 1px 5px rgba(96, 125, 139, 0.7);
  background-color: #82a1b0;
  line-height: 40px;
  color: #fff;
  text-align: center;
  z-index: 999;
}

.aside .back {
  position: absolute;
  top: 100px;
  right: 20px;
  color: #fff;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(96, 125, 139, 0.7);
  background-color: #82a1b0;
  z-index: 999;
  padding: 3px 8px;
  border-radius: 4px;
}
.aside .back i {
  margin-right: 3px;
}

.right-bar footer {
  position: absolute;
  z-index: 999;
  bottom: 0;
  padding: 0px 0px 20px 15px;
}

.btn {
  padding: 3px 12px;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  margin-right: 5px;
}
.btn:focus {
  outline: none;
}
.btn-primary {
  user-select: none;
  cursor: pointer;
  background-color: #82a1b0;
  border: 1px solid #82a1b0;
  color: #fff;
}
.btn-reset {
  user-select: none;
  cursor: pointer;
  background-color: #cc9f6c;
  border: 1px solid #cc9f6c;
  color: #fff;
}
.search-box .el-input__prefix {
  left: 2px;
}
.search-box .el-input--prefix .el-input__inner {
  padding-left: 26px;
  padding-right: 10px;
}
.search-box .el-input__inner {
  border-color: transparent;
  border-radius: 0;
}
.search-box .el-input__inner:hover {
  border-color: transparent;
}
.search-box .el-input__inner:focus {
  border-color: transparent !important;
}
.search-box .left .el-input__inner {
  border-right: 1px solid #e4e7ed !important;
}
.search-box .left .el-input__inner:focus {
  border-right: 1px solid #e4e7ed !important;
}
.search-box .right .el-input__inner {
  border-left: 1px solid #e4e7ed !important;
}
.search-box .right .el-input__inner:focus {
  border-left: 1px solid #e4e7ed !important;
}
.search-box .el-input-group__prepend {
  border-color: transparent;
  border-right: 1px solid #e4e7ed;
}
.search-box .el-select .el-input {
  width: 100px;
}
.search-box .el-select .el-input__inner {
  padding-left: 8px;
}
.search-box .input-with-select .el-input-group__prepend {
  background-color: #fff;
}

.aside .el-drawer__body {
  overflow: auto;
}

.right-bar-body {
  padding-top: 10px;
}
.right-bar-body {
  padding-bottom: 60px;
}
@media(max-width:669px){
  .el-dialog__wrapper .el-dialog {
    margin-top: 200px !important;
  }
  .right-bar-body.scroll-rep {
    padding-bottom: 450px;
  }
  .right-bar-body.scroll-chef {
    padding-bottom: 320px;
  }
}
@media(min-width:669px) {
  .right-bar-body.scroll-rep {
    padding-bottom: 300px;
  }
}

.box {
  padding: 5px 4px 5px 10px;
  margin-top: 10px;
  font-size: 0px;
}

.box-title {
  font-size: 15px;
  margin-left: 3px;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  color: #526874;
  border-left: 3px #82a1b0 solid;
}

.hr {
  border-top: 1px #dcdfe6 solid;
  margin: 8px 0 5px 3px;
}

.checkbox {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  padding: 0 11px;
  height: 24px;
  line-height: 24px;
  margin: 5px 3px;
  border: 1px solid #dcdfe6;
  background-color: #fff;
  border-radius: 4px;
  color: #606266;
  user-select: none;
}
.checkbox.active {
  border-color: #a3bac5;
  color: #82a1b0;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.checkbox-contain {
  display: inline-block;
  padding: 0px 2px;
  border: 0.5px solid #dcdfe6;
  background-color: #f5f7fa;
  border-radius: 4px;
  margin-bottom: 6px;
  margin-right: 6px;
}
.checkbox-contain .checkbox {
  margin: 4px 2px;
}
.box .el-switch {
  transform: translateY(-5px);
  margin: 0 5px;
}
.box .el-switch__label {
  margin-left: 5px;
  color: #606266;
  font-weight: 400;
}

#main .el-switch__label.el-switch__label--right.is-active {
  color: #82a1b0;
}
.prepend-input {
  font-size: 13px;
  display: inline-block;
  margin: 4px 2px;
  color: #606266;
}
.prepend-input .input-box {
  display: flex;
}
.prepend-input .prepend, .prepend-input .append {
  display: inline-block;
  padding: 0px 9px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #dcdfe6;
  background-color: #f5f7fa;
  border-radius: 4px;
}
.prepend-input .prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.prepend-input .append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.prepend-input input {
  display: inline-block;
  width: 30px;
  height: 24px;
  line-height: 24px;
  border: none;
  padding: 0px 5px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #606266;
}
.append-input input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.prepend-input.large input {
  width: 40px;
  padding: 0px 10px;
}
.prepend-input.large input::placeholder {
  color: #c0c4cc;
}
input:focus {
  outline: none;
  border: 1px solid #DCDFE6 ;
}
.checkbox.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  top: 0px;
  line-height: 18px;
  padding: 0;
  height: 58px;
  width: 31px;
}
input.hidden {
  width: 0px;
  height: 0px;
}

.body .el-table.sum tbody .el-table__row:last-child {
  background-color: #f5f7fa;
}

.body .el-table.sum tbody .el-table__row:last-child .cell {
  line-height: 24px;
  color: #526874;
}
.search-box .el-switch__label span {
  font-size: 13px;
}
.search-box .el-select.left {
  width: 100%;
}
.search-box .el-select.left .el-input {
  width: 100%;
}
.search-box .el-switch {
  transform: translate(5px, 4px);
}
.body .el-checkbox__inner:hover,.body .el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #dcdfe6;
}
.body .el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #409EFF;
}
.body .el-checkbox__inner {
  transition: backgroud-color 0s;
}
.body .el-checkbox__inner::after {
  transition: transform 0s;
}
.header .notice {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  display: inline-block;
  white-space:nowrap;
}
.search-box .button {
  font-size: 13px;
  display: inline-block;
  line-height: 32px;
  height: 32px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #82a1b0;
}
.search-box .button:active {
  background-color: rgba(130, 161, 176, 0.1);
}
.select-box {
  display: inline-block;
  width: 120px;
  margin: 5px 3px;
}
.checkbox-contain .select-box {
  margin: 4px 2px;
}

.body .el-table__body tr.current-row>td {
  background-color: #f5f7fa;
}

.switch-box {
  margin-top: 9px;
}

.ultimate-box, .info-box {
  padding: 15px 10px;
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow: auto;
  color: #606266;
}
.info-box {
  padding-bottom: 20px;
}
.ultimate-box .title, .info-box .title {
  font-size: 16px;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  color: #526874;
  border-left: 3px #82a1b0 solid;
}
.ultimate-box .box-body {
  font-size: 13px;
  padding-bottom: 20px;
}
.info-box .box-body {
  padding-bottom: 10px;
}
.info-box .box-body .p {
  margin: 10px 0;
  margin-left: 10px;
  font-size: 14px;
  max-height: 999px;
}
.ultimate-box .prepend-input input {
  width: 26px;
}

.box-body .contain {
  padding: 5px 0;
  font-size: 0px;
}
.ultimate-box .btn {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  box-sizing: border-box;
}
.ultimate-box .btn:active {
  background-color: #f5f7fa;
}
.ultimate-box .btn-box {
  margin-top: 3px;
}
.body .el-textarea {
  font-size: 13px;
}
.contain-title {
  font-size: 14px;
  color: #607d8b;
  margin-bottom: 6px;
  padding-left: 4px;
}
.info-box .remove {
  color: #760024;
}
.info-box .add {
  color: #357500;
}

.tab-box {
  padding: 0 10px;
}
.tab-box .el-tabs__item {
  height: 38px;
  line-height: 38px;
  color: #606266;
}
.body .el-tabs__header.is-top {
  margin-bottom: 5px;
}
.body .el-tabs__item.is-top.is-active {
  color: #82a1b0;
}
.body .el-tabs__active-bar.is-top {
  background-color: #82a1b0;
}
.body .el-switch__label.el-switch__label--right {
  color: #606266;
  font-weight: 400;
}
.cal {
  padding: 0 9px;
  box-sizing: border-box;
  font-size: 0;
  color: #606266;
  overflow: auto;
}
.cal .select-box {
  margin: 5px 4px 5px 0px;
}
.cal .btn {
  display: inline-block;
  font-size: 13px;
  padding: 0 9px;
  background-origin: padding-box;
  height: 24px;
  line-height: 24px;
  margin-right: 4px;
  width: 28px;
  flex-shrink: 0;
}
.cal .btn.load {
  color: #fff;
  background: #c62828 !important;
  border-color: #c62828;
}
.cal .btn:active {
  background-color: #f5f7fa;
}
.cal .tips {
  font-size: 11px;
  padding-left: 3px;
}
.cal-contain {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.cal-contain .chef-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.4%;
}
.chef-box .chef {
  width: 95%;
  height: 92px;
}
.chef-box .equip {
  width: 95%;
  height: 26px;
}
.chef-box .rep-box {
  display: flex;
  justify-content: space-between;
  width: calc(95% + 4px);
}
.rep-box .rep {
  width: 33.4%;
  height: 30px;
}
.chef-box .rep-box .rep .show {
  padding: 0;
}
.cal .chef,.cal .equip,.cal .rep {
  padding: 2px;
}
.chef.focus, .equip.focus, .rep.focus {
  background: linear-gradient(to left, #82a1b0, #82a1b0) left top no-repeat,
              linear-gradient(to bottom, #82a1b0, #82a1b0) left top no-repeat,
              linear-gradient(to left, #82a1b0, #82a1b0) right top no-repeat,
              linear-gradient(to bottom, #82a1b0, #82a1b0) right top no-repeat,
              linear-gradient(to left, #82a1b0, #82a1b0) left bottom no-repeat,
              linear-gradient(to bottom, #82a1b0, #82a1b0) left bottom no-repeat,
              linear-gradient(to left, #82a1b0, #82a1b0) right bottom no-repeat,
              linear-gradient(to left, #82a1b0, #82a1b0) right bottom no-repeat;
  background-size: 2px 8px, 8px 2px, 2px 8px, 8px 2px;
}
.chef.focus {
  background-size: 2px 13px, 13px 2px, 2px 13px, 13px 2px;
}
.chef-empty, .equip-empty, .rep-empty {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dotted #dcdfe6;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  color: #c0c4cc;
}
.chef-empty i, .equip-empty i, .rep-empty i {
  font-size: 32px;
  color: #dcdfe6;
  line-height: 40px;
}
.equip-empty i {
  font-size: 20px;
}
.rep-empty i {
  font-size: 16px;
}
.chef-empty span {
  font-size: 13px;
  width: 96px;
  text-align: center;
}
.cal .tool {
  background: #f5f7fa;
  width: calc(100% - 4px);
  height: 46px;
  margin: 0 auto;
  margin-top: 3px;
  border-radius: 4px;
}
.tool .select-box {
  padding: 10px 5px;
  margin: 0;
}
.cal .name {
  font-size: 12px;
  font-weight: bold;
  color: #6e7175;
}
.cal .chef-box.disable {
  pointer-events: none;
}
.cal .chef-box.disable * {
  color: #fff;
  border: none;
}
.cal .chef-box .show {
  border: 0.5px solid #dcdfe6;
  box-sizing: border-box;
  padding: 1px 3px;
  height: 100%;
  border-radius: 4px;
}
.cal .chef .show {
  display: flex;
  justify-content: space-around;
}
.cal .equip .show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chef .show .name-img {
  width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.chef .name {
  font-size: 13.5px;
}
.chef .img {
  width: 50px;
  height: 50px;
  zoom: 1.1;
  position: relative;
}
.chef .img .ultimate {
  position: absolute;
  right: -2px;
  bottom: -2px;
  display: inline-block;
  height: 12px;
  width: 12px;
  text-align: center;
  border-radius: 12px;
  line-height: 12px;
  color: #fea64f;
  font-weight: bold;
  font-size: 10px;
  background: linear-gradient(to bottom, #b85630, #b2270f);
  border: 1px solid #733308;
}
.chef .skill-box {
  display: flex;
  flex-direction: column;
  justify-items: right;
  width: 35px;
}
.chef .skill-box > div {
  display: flex;
  align-items: flex-end;
}
.rep .show {
  height: 100%;
  padding: 0;
  display: flex;
  position: relative;
}
.rep .img {
  width: 40px;
  zoom: 0.7;
  align-self: flex-end;
  margin-bottom: 2px;
}
.rep .img .cnt {
  display: inline-block;
  position: absolute;
  top: -4px;
  right: -5px;
  font-size: 12px;
  font-weight: bold;
  background: #fdf6ee;
  color: #583526;
  padding: 0 3px;
  line-height: 13px;
  height: 13px;
  box-shadow: rgba(19, 12, 12, 0.3) 1px 2px 1px;
}
.rep .img .expert {
  display: inline-block;
  font-size: 11px;
  color: #7CB342;
  height: 11px;
  width: 11px;
  line-height: 11px;
  position: absolute;
  right: 5px;
  bottom: 3px;
}
.rep .img .expert i {
  border-radius: 11px;
  background: #fff;
}
.tool-rep {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}
.tool-rep .select-box {
  display: block;
  padding: 0;
}
.tool-rep .control {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.tool .el-switch__label.el-switch__label--right {
  color: #606266;
  font-weight: 400;
}
.tool-rep .input {
  width: 35px;
  font-size: 13px;
  box-sizing: border-box;
  padding: 0 8px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  color: #303133;
}
.tool-rep .max {
  font-size: 13px;
  padding-left: 5px;
}
.slider .el-slider__bar {
  background: #82a1b0;
}
.slider .el-slider__button {
  border-color: #82a1b0;
}
.slider .el-slider.is-vertical .el-slider__runway {
  margin: 0 10px;
}
.chef .skill-box .label {
  margin-right: 3px;
  font-size: 10px;
  color: #607d8b;
  line-height: 15px;
}
.chef .skill-box .val {
  font-size: 9px;
  line-height: 13px;
}
.tool .el-switch__label.el-switch__label--right {
  margin-left: 4px;
  margin-right: 7px;
}
.tool .material-box {
  display: flex;
}
.tool .material {
  display: flex;
  flex-direction: column;
  margin: 0 3px;
}
.tool .material .label {
  font-size: 12px;
  margin-bottom: 2px;
}
.tool .material .quantity {
  font-size: 10px;
}
.cal .ctl-box {
  display: flex;
  align-items: center;
  padding: 0 2px;
}
.cal .ctl-box .select-box {
  flex-grow: 1;
}
.cal .ctl-box .el-select.el-select--mini {
  height: 26px;
  width: 90px;
  flex-shrink: 0;
}
.cal .ctl-box .el-input.el-input--mini.el-input--suffix {
  line-height: 26px;
  height: 26px;
  box-sizing: border-box;
}
.cal .ctl-box .el-input__suffix {
  right: 1px;
}
.cal .ctl-box .el-input--mini .el-input__inner {
  line-height: 26px;
  height: 26px;
  box-sizing: border-box;
  border: 1px #dcdfe6 solid;
  padding-left: 10px;
  padding-right: 24px;
  font-size: 13px;
}
.cal .ctl-box .el-select:hover .el-input__inner, .cal .el-select .el-input__inner:focus, .cal .el-select .el-input.is-focus .el-input__inner {
  border: 1px #dcdfe6 solid;
}
.cal .total-result {
  font-size: 15px;
  color: #607d8b;
  padding: 2px 3px;
}
.cal .total-result .line-tips {
  font-weight: bold;
}
.cal .result {
  display: flex;
}
.cal .rst-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 33.34%;
  padding-bottom: 60px;
}
.cal .rst-box.long {
  padding-bottom: 30px;
}
.cal .rst-box .rst {
  width: 95%;
  height: 105px;
  background: #f5f7fa;
  margin: 3px 2px;
  border-radius: 4px;
  display: flex;
  flex-grow: 1;
}
.cal .rst-box.long .rst {
  height: 115px;
}
.rst .show {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rst .show .top {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
}
.rst .show .top.center {
  justify-content: center;
}
.rst .show .top .top-left {
  width: 50px;
  display: flex;
  flex-direction: column;
}
.rst .name {
  padding-top: 3px;
  font-size: 12px;
  text-shadow: #f5f7fa 1px 0 0, #f5f7fa 0 1px 0, #f5f7fa -1px 0 0, #f5f7fa 0 -1px 0;
  text-align: center;
  position: relative;
  z-index: 999;
}
.rst .img-box {
  width: 50px;
  height: 56px;
  position: relative;
  margin: 0 auto;
}
.rst .img {
  width: 50px;
  zoom: 1.25;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.rst .img-box .skill-box {
  position: absolute;
  font-size: 9px;
  bottom: 0;
  display: flex;
  width: 100%;
  background: #fdf6ee;
  color: #583526;
}
.rst .skill-box .skill {
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.rst .skill-box .label {
  background: rgba(0, 0, 0, 0.1);
  margin-right: 0.5px;
  font-weight: bold;
  padding: 0 1px;
}
.rst .skill-box .val {
  font-size: 8px;
}
.rst .grade {
  position: absolute;
  top: -2px;
  left: -2px;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ec5a0c;
  border: 1px #9e4c33 solid;
  color: #fff;
  font-weight: bold;
}
.rst .grade.grade-1 {
  background: linear-gradient(to bottom, #508878, #45606c);
  border-color: #344a59;
}
.rst .grade.grade-2 {
  border-color: #4e5a0f;
  background: linear-gradient(to bottom, #a9be1a, #6a9142);
}
.rst .grade.grade-3 {
  border-color: #7d350c;
  background: linear-gradient(to bottom, #d98c10, #c4641a);
}
.rst .grade.grade-4 {
  border-color: #78280f;
  background: linear-gradient(to bottom, #d45623, #ba3d27);
}
.rst .buff {
  display: flex;
  align-items: flex-end;
  height: 14px;
  white-space: nowrap;
}
.rst .buff .label {
  font-size: 10px;
  margin-right: 2px;
}
.rst .buff .val {
  font-size: 9px;
}
.rst .time-price {
  padding: 2px 0;
  background: #e4e7ed;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rst .time {
  text-align: center;
  font-size: 11px;
}
.rst .price-box {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  line-height: 14px;
}
.rst .price-box .muti {
  font-size: 10px;
}
.rst .red {
  color: #b2270f;
}

@media(min-width: 398px) {
  .cal-contain, .total-result, .result {
    width: 370px;
    margin: 0 auto;
  }
  .cal .tool {
    width: 364px;
  }
}
#muti-select {
  display: inline-block;
  position: relative;
  z-index: 1000;
  width: 100%;
  font-size: 13px;
  color: #606266;
}
#muti-select .input-box {
  position: relative;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  display: inline-block;
  line-height: 24px;
  height: 26px;
  padding: 0px 10px;
  padding-right: 30px;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 0px;
}
#muti-select .placeholder {
  color: #c0c4cc;
  user-select: none;
  font-size: 13px;
}
#muti-select .input-box .tag {
  margin-left: -5px;
  margin-right: 8px;
  background-color: #f4f4f5;
  border: 0.5px solid #e9e9eb;
  color: #909399;
  font-size: 11px;
  border-radius: 4px;
  padding: 2px 5px;
}
#muti-select .input-box .tag.only {
  background-color: #fff;
  border: none;
  margin-left: -5px;
  color: #606266;
  font-size: 13px;
}
#muti-select .input-box i {
  position: absolute;
  right: 0px;
  line-height: 24px;
  color: #c0c4cc;
  font-size: 13px;
  transition: transform .3s;
  transform: rotate(180deg);
  cursor: pointer;
}
#muti-select .input-box i.active {
  transform: rotate(0deg);
}
#muti-select .dropdown-box {
  z-index: 1000;
  position: absolute;
  top: 36px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
  padding: 6px 0;
  background-color: #fff;
}
#muti-select .arrow {
  height: 0;
  width: 0;
}
#muti-select .arrow::after {
  z-index: 1001;
  position: absolute;
  top: 31px;
  left: 30px;
  content: '';
  box-sizing: content-box;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-width: 0;
  border-bottom-color: #dcdfe6;
}
#muti-select .arrow::before {
  z-index: 1002;
  position: absolute;
  top: 32.41px;
  left: 30px;
  content: '';
  box-sizing: content-box;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
}
#muti-select .controll-box {
  position: relative;
  padding: 0 7px;
  margin-bottom: 4px;
}
#muti-select .controll-box .clear {
  position: absolute;
  right: 7px;
  line-height: 26px;
  height: 26px;
  color: #c0c4cc;
  cursor: pointer;
}
#muti-select .controll-box .clear:active {
  opacity: 0.8;
}
#muti-select input {
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  border-radius: 4px;
  height: 26px;
  line-height: 24px;
  width: 100%;
  padding-left: 10px;
  padding-right: 23px;
  color: #606266;
}
#muti-select input::placeholder {
  color: #c0c4cc;
}
#muti-select .btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 6px;
  border-radius: 4px;
  padding: 0;
  line-height: 22px;
  user-select: none;
}
#muti-select .btn:active {
  background-color: #f5f7fa;
}
#muti-select .dropdown-list {
  font-size: 13px;
  max-height: 200px;
  overflow-y: auto;
}
#muti-select .dropdown-list li {
  position: relative;
  padding: 8px 10px;
  line-height: 18px;
  /* chrome 手机版，不设max-height会把字体调到奇大无比巨丑 */
  max-height: 999px;
  cursor: pointer;
}

#muti-select .dropdown-list li .sub-name {
  font-size: 11px;
  color: #909399;
}
#muti-select .dropdown-list li:hover {
  background-color: #f5f7fa;
}
#muti-select .dropdown-list li.active {
  font-weight: bold;
  color: #409eff;
  max-height: 999px;
}
#muti-select .dropdown-list li.red {
  color: #b71c1c;
  max-height: 999px;
}
#muti-select .dropdown-list li.disable {
  color: #c0c4cc;
  cursor: not-allowed;
  max-height: 999px;
}
#muti-select .dropdown-list li.disable:hover {
  background: #fff;
}
#muti-select .dropdown-list li.active:after {
  position: absolute;
  right: 7px;
  font-family: element-icons;
  content: "\e6da";
  font-size: 12px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#muti-select p.empty {
  line-height: 30px;
  color: #999;
  text-align: center;
}
.cal .ctl-box #muti-select .dropdown-box {
  min-width: 210px;
}
