@media(min-width:669px){
  /*默认滚动条样式*/
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    min-height: 30px;
    border-radius: 6px;
    border: 2px solid #fff;
    margin: 5px;
    background-color: #e0e0e0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #cfcfcf;
  }
}
/* 初始化css */
body {
  -webkit-tap-highlight-color: transparent;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

[v-cloak] .body, [v-cloak] .header, [v-cloak] .aside {
  display: none;
}

.header {
  position: relative;
  height: 50px;
  background: #607d8b;
  color: #fff;
  padding: 0 18px;
}
section.header {
  line-height: 50px;
}
section.header .right {
  float: right;
}

.el-dialog__header {
  padding: 0;
}
.el-dialog {
  text-align: center;
}

.icon-btn {
  font-size: 20px;
  cursor: pointer;
}
.el-drawer__container:focus {
  outline: none;
}
.el-drawer:focus {
  outline: none;
}

.left-bar .header {
  height: 128px;
  padding: 5px 16px;
}
.left-bar .title {
  position: absolute;
  right: 16px;
  top: 30px;
  font-size: 18px;
}
.left-bar .sub-title {
  position: absolute;
  right: 16px;
  top: 75px;
  font-size: 15px;
}
.left-bar .img-header {
  width: 93px;
}

.left-bar .body {
  width: 100%;
  color: #526874;
}
.left-bar .body .nav {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-left: 70px;
  font-size: 14px;
  cursor: pointer;
}
.nav:hover, .nav.active {
  background-color: rgba(96, 125, 139, 0.2);
}
.nav i {
  font-size: 24px;
  position: absolute;
  left: 23px;
  top: 11px;
}

.pagination {
  margin-top: 6px;
  float: right;
}

.el-table th {
  background-color: #f5f7fa;
}
.el-table th .cell {
  height: 28px;
  line-height: 28px;
}
.el-table th .el-checkbox {
  display: none;
}
.el-table th .caret-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-16px);
}

.el-table .cell {
  white-space: pre-line;
  padding-right: 3px !important;
  line-height: 18px;
}

.el-table td {
  padding: 8px 0;
  font-size: 13px;
}

.suspend {
  position: absolute;
  right: 20px;
  bottom: 60px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  box-shadow: 1px 1px 5px rgba(96, 125, 139, 0.7);
  background-color: #82a1b0;
  line-height: 40px;
  color: #fff;
  text-align: center;
  z-index: 999;
}

.right-bar footer {
  position: absolute;
  z-index: 999;
  bottom: 0;
  padding: 0px 0px 20px 15px;
}

.btn {
  padding: 3px 12px;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  margin-right: 5px;
}
.btn:focus {
  outline: none;
}
.btn-primary {
  user-select: none;
  cursor: pointer;
  background-color: #82a1b0;
  border: 1px solid #82a1b0;
  color: #fff;
}
.btn-reset {
  user-select: none;
  cursor: pointer;
  background-color: #cc9f6c;
  border: 1px solid #cc9f6c;
  color: #fff;
}
.search-box .el-input__prefix {
  left: 2px;
}
.search-box .el-input--prefix .el-input__inner {
  padding-left: 26px;
  padding-right: 10px;
}
.search-box .el-input__inner {
  border-color: transparent;
  border-radius: 0;
}
.search-box .el-input__inner:hover {
  border-color: transparent;
}
.search-box .el-input__inner:focus {
  border-color: transparent !important;
}
.search-box .left .el-input__inner {
  border-right: 1px solid #e4e7ed !important;
}
.search-box .left .el-input__inner:focus {
  border-right: 1px solid #e4e7ed !important;
}
.search-box .right .el-input__inner {
  border-left: 1px solid #e4e7ed !important;
}
.search-box .right .el-input__inner:focus {
  border-left: 1px solid #e4e7ed !important;
}
.search-box .el-input-group__prepend {
  border-color: transparent;
  border-right: 1px solid #e4e7ed;
}
.search-box .el-select .el-input {
  width: 100px;
}
.search-box .el-select .el-input__inner {
  padding-left: 8px;
}
.search-box .input-with-select .el-input-group__prepend {
  background-color: #fff;
}

.el-drawer__body {
  overflow: auto;
}

.right-bar-body {
  padding-top: 10px;
}
.right-bar-body {
  padding-bottom: 60px;
}
@media(max-width:669px){
  .right-bar-body.scroll-rep {
    padding-bottom: 450px;
  }
  .right-bar-body.scroll-chef {
    padding-bottom: 320px;
  }
}
@media(min-width:669px) {
  .right-bar-body.scroll-rep {
    padding-bottom: 300px;
  }
}

.box {
  padding: 5px 4px 5px 10px;
  margin-top: 10px;
  font-size: 0px;
}

.box-title {
  font-size: 15px;
  margin-left: 3px;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  color: #526874;
  border-left: 3px #82a1b0 solid;
}

.hr {
  border-top: 1px #dcdfe6 solid;
  margin: 8px 0 5px 3px;
}

.checkbox {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  padding: 0 11px;
  height: 24px;
  line-height: 24px;
  margin: 5px 3px;
  border: 1px solid #dcdfe6;
  background-color: #fff;
  border-radius: 4px;
  color: #606266;
  user-select: none;
}
.checkbox.active {
  border-color: #a3bac5;
  color: #82a1b0;
  font-weight: 500;
}

.checkbox-contain {
  display: inline-block;
  padding: 0px 2px;
  border: 0.5px solid #dcdfe6;
  background-color: #f5f7fa;
  border-radius: 4px;
  margin-bottom: 6px;
  margin-right: 6px;
}
.checkbox-contain .checkbox {
  margin: 4px 2px;
}
.box .el-switch {
  transform: translateY(-5px);
  margin: 0 5px;
}
.el-switch__label {
  margin-left: 5px;
  color: #606266;
  font-weight: 400;
}

.el-switch__label.el-switch__label--right.is-active {
  color: #82a1b0;
}
.prepend-input {
  font-size: 13px;
  display: inline-block;
  margin: 4px 2px;
  color: #606266;
}
.prepend-input .input-box {
  display: flex;
}
.prepend-input .prepend, .prepend-input .append {
  display: inline-block;
  padding: 0px 9px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #dcdfe6;
  background-color: #f5f7fa;
  border-radius: 4px;
}
.prepend-input .prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.prepend-input .append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.prepend-input input {
  display: inline-block;
  width: 30px;
  height: 24px;
  line-height: 24px;
  border: none;
  padding: 0px 5px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #606266;
}
.append-input input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.prepend-input.large input {
  width: 40px;
  padding: 0px 10px;
}
.prepend-input.large input::placeholder {
  color: #c0c4cc;
}
input:focus {
  outline: none;
  border: 1px solid #DCDFE6 ;
}
.checkbox.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  top: 0px;
  line-height: 18px;
  padding: 0;
  height: 58px;
  width: 31px;
}
input.hidden {
  width: 0px;
  height: 0px;
}

.el-table.sum tbody .el-table__row:last-child {
  background-color: #f5f7fa;
}

.el-table.sum tbody .el-table__row:last-child .cell {
  line-height: 24px;
  color: #526874;
}
.search-box .el-switch__label span {
  font-size: 13px;
}
.search-box .el-select.left {
  width: 100%;
}
.search-box .el-select.left .el-input {
  width: 100%;
}
.search-box .el-switch {
  transform: translate(5px, 4px);
}
.el-checkbox__inner:hover, .el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #dcdfe6;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #409EFF;
}
.el-checkbox__inner {
  transition: backgroud-color 0s;
}
.el-checkbox__inner::after {
  transition: transform 0s;
}
.header .notice {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  display: inline-block;
  white-space:nowrap;
}
.search-box .button {
  font-size: 13px;
  display: inline-block;
  line-height: 32px;
  height: 32px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #82a1b0;
}
.search-box .button:active {
  background-color: rgba(130, 161, 176, 0.1);
}
.select-box {
  display: inline-block;
  width: 120px;
  margin: 5px 3px;
}
.checkbox-contain .select-box {
  margin: 4px 2px;
}

.el-table__body tr.current-row>td {
  background-color: #f5f7fa;
}

.switch-box {
  margin-top: 9px;
}

.ultimate-box, .info-box {
  padding: 15px 10px;
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow: auto;
  color: #606266;
}
.info-box {
  padding-bottom: 20px;
}
.ultimate-box .title, .info-box .title {
  font-size: 16px;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  color: #526874;
  border-left: 3px #82a1b0 solid;
}
.info-box .box-body p {
  font-size: 14px;
  margin: 10px 0;
  margin-left: 10px;
}
.ultimate-box .box-body {
  font-size: 13px;
  padding-bottom: 20px;
}
.info-box .box-body {
  padding-bottom: 10px;
}
.ultimate-box .prepend-input input {
  width: 26px;
}

.box-body .contain {
  padding: 5px 0;
  font-size: 0px;
}
.ultimate-box .btn {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  box-sizing: border-box;
}
.ultimate-box .btn:active {
  background-color: #f5f7fa;
}
.ultimate-box .btn-box {
  margin-top: 3px;
}
.el-textarea {
  font-size: 13px;
}
.contain-title {
  font-size: 14px;
  color: #607d8b;
  margin-bottom: 6px;
  padding-left: 4px;
}
.info-box .remove {
  color: #760024;
}
.info-box .add {
  color: #357500;
}

#muti-select {
  display: inline-block;
  position: relative;
  z-index: 1000;
  width: 100%;
  font-size: 13px;
  color: #606266;
}
#muti-select .input-box {
  position: relative;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  display: inline-block;
  line-height: 24px;
  height: 26px;
  padding: 0px 10px;
  padding-right: 30px;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 0px;
}
#muti-select .placeholder {
  color: #c0c4cc;
  user-select: none;
  font-size: 13px;
}
#muti-select .input-box .tag {
  margin-left: -5px;
  margin-right: 8px;
  background-color: #f4f4f5;
  border: 0.5px solid #e9e9eb;
  color: #909399;
  font-size: 11px;
  border-radius: 4px;
  padding: 2px 5px;
}
#muti-select .input-box i {
  position: absolute;
  right: 0px;
  line-height: 24px;
  color: #c0c4cc;
  font-size: 13px;
  transition: transform .3s;
  transform: rotate(180deg);
  cursor: pointer;
}
#muti-select .input-box i.active {
  transform: rotate(0deg);
}
#muti-select .dropdown-box {
  z-index: 1000;
  position: absolute;
  top: 36px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
  padding: 6px 0;
  background-color: #fff;
}
#muti-select .arrow {
  height: 0;
  width: 0;
}
#muti-select .arrow::after {
  z-index: 1001;
  position: absolute;
  top: 31px;
  left: 30px;
  content: '';
  box-sizing: content-box;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-width: 0;
  border-bottom-color: #dcdfe6;
}
#muti-select .arrow::before {
  z-index: 1002;
  position: absolute;
  top: 32.41px;
  left: 30px;
  content: '';
  box-sizing: content-box;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
}
#muti-select .controll-box {
  position: relative;
  padding: 0 7px;
  margin-bottom: 4px;
}
#muti-select .controll-box .clear {
  position: absolute;
  right: 7px;
  line-height: 26px;
  height: 26px;
  color: #c0c4cc;
  cursor: pointer;
}
#muti-select .controll-box .clear:active {
  opacity: 0.8;
}
#muti-select input {
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  border-radius: 4px;
  height: 26px;
  line-height: 24px;
  width: 100%;
  padding-left: 10px;
  padding-right: 23px;
  color: #606266;
}
#muti-select input::placeholder {
  color: #c0c4cc;
}
#muti-select .btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 6px;
  border-radius: 4px;
  padding: 0;
  line-height: 22px;
  user-select: none;
}
#muti-select .btn:active {
  background-color: #f5f7fa;
}
#muti-select .dropdown-list {
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
}
#muti-select .dropdown-list li {
  position: relative;
  padding: 0 10px;
  line-height: 34px;
  cursor: pointer;
}
#muti-select .dropdown-list li .sub-name {
  font-size: 11px;
  color: #909399;
}
#muti-select .dropdown-list li:hover {
  background-color: #f5f7fa;
}
#muti-select .dropdown-list li.active {
  font-weight: 600;
  color: #409eff;
}
#muti-select .dropdown-list li.active:after {
  position: absolute;
  right: 7px;
  font-family: element-icons;
  content: "\e6da";
  font-size: 12px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#muti-select p.empty {
  line-height: 30px;
  color: #999;
  text-align: center;
}
