/* 初始化css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  height: 50px;
  background: #607d8b;
  color: #fff;
  padding: 0 18px;
}
section.header {
  line-height: 50px;
}
section.header .right {
  float: right;
}

.el-dialog__header {
  padding: 0;
}
.el-dialog {
  text-align: center;
}

.icon-btn {
  font-size: 20px;
  cursor: pointer;
}
.el-drawer__container:focus {
  outline: none;
}
.el-drawer:focus {
  outline: none;
}

.left-bar .header {
  height: 128px;
  padding: 5px 16px;
}
.left-bar .title {
  position: absolute;
  right: 16px;
  top: 30px;
  font-size: 18px;
}
.left-bar .sub-title {
  position: absolute;
  right: 16px;
  top: 75px;
  font-size: 15px;
}
.left-bar .img-header {
  width: 93px;
}

.left-bar .body {
  width: 100%;
  color: #526874;
}
.left-bar .body .nav {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-left: 70px;
  font-size: 14px;
  cursor: pointer;
}
.nav:hover, .nav.active {
  background-color: rgba(96, 125, 139, 0.2);
}
.nav i {
  font-size: 24px;
  position: absolute;
  left: 23px;
  top: 11px;
}

.pagination {
  margin-top: 6px;
  float: right;
}

.el-table th {
  background-color: #f5f7fa;
}

.el-table .cell {
  white-space: pre-line;
  padding-right: 3px !important;
}

.el-table td {
  padding: 8px 0;
  font-size: 13px;
}

.suspend {
  position: absolute;
  right: 20px;
  bottom: 60px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  box-shadow: 1px 1px 5px rgba(96, 125, 139, 0.7);
  background-color: #607d8b;
  line-height: 40px;
  color: #fff;
  text-align: center;
  z-index: 999;
}

.right-bar footer {
  position: absolute;
  bottom: 0;
  padding: 20px 15px;
}

.btn {
  padding: 3px 12px;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  margin-right: 5px;
}
.btn:focus {
  outline: none;
}
.btn-primary {
  background-color: #607d8b;
  border: 1px solid #607d8b;
  color: #fff;
}
.btn-reset {
  background-color: #b78e5f;
  border: 1px solid #b78e5f;
  color: #fff;
}
.el-input__inner {
  border-color: transparent;
  /* background-color: #f5f7fa; */
}
.el-input__inner:focus {
  border-color: transparent;
}
.el-input-group__prepend {
  border-color: transparent;
  border-right: 0.5px solid #dcdfe6;
}
.el-select .el-input {
  width: 100px;
}
.el-select .el-input__inner {
  padding-left: 8px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}