<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>图鉴</title>
  <link rel="icon" href="./favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <div id="main">
    <aside>
      <el-drawer class="left-bar" :visible.sync="leftBar" direction="ltr" size="65%" :with-header="false">
        <div class="header">
          <img class="img-header" src="./images/saltFish.png" alt="咸公主">
          <div class="title">爆炒江湖图鉴</div>
          <div class="sub-title">by 小鱼</div>
        </div>
        <div class="body">
          <div class="nav" v-for="item in nav" :class="item.id === navId ? 'active' : '' " @click="checkNav(item.id)">
            <i :class="item.icon"></i>
            {{item.name}}
          </div>
        </div>
      </el-drawer>
    </aside>
    <section class="header">
      <i class="icon-btn el-icon-s-operation" @click="leftBar = !leftBar"></i>
    </section>
    <section class="body">
      <div v-if="navId === 1">
        <el-table
          :data="recipes_page"
          style="width: 100%"
          max-height="500">
          <el-table-column fixed prop="galleryId" label="编号" width="55" v-if="false"></el-table-column>
          <el-table-column fixed prop="name" label="菜谱名"></el-table-column>
          <el-table-column prop="rarity_show" label="星"></el-table-column>
          <el-table-column prop="stirfry" label="炒"></el-table-column>
          <el-table-column prop="boil" label="煮"></el-table-column>
          <el-table-column prop="knife" label="切"></el-table-column>
          <el-table-column prop="fry" label="炸"></el-table-column>
          <el-table-column prop="bake" label="烤"></el-table-column>
          <el-table-column prop="steam" label="蒸"></el-table-column>
          <el-table-column prop="steam" label="材料"></el-table-column>
          <el-table-column prop="steam" label="单价"></el-table-column>
          <el-table-column prop="steam" label="单时间"></el-table-column>
          <el-table-column prop="steam" label="一组"></el-table-column>
          <el-table-column prop="steam" label="总价"></el-table-column>
          <el-table-column prop="steam" label="总时间"></el-table-column>
          <el-table-column prop="steam" label="金币效率"></el-table-column>
          <el-table-column prop="steam" label="总耗材效率"></el-table-column>
          <el-table-column prop="steam" label="来源"></el-table-column>
          <el-table-column prop="steam" label="解锁"></el-table-column>
          <el-table-column prop="steam" label="合成"></el-table-column>
          <el-table-column prop="steam" label="贵客"></el-table-column>
          <el-table-column prop="steam" label="升阶贵客"></el-table-column>
          <el-table-column prop="steam" label="神级符文"></el-table-column>
          <el-table-column prop="steam" label="品阶"></el-table-column>
        </el-table>
        <el-pagination
          background
          small
          :page-size="recipesPageSize"
          :current-page.sync="recipesCurPage"
          @current-change="handleCurrentChange"
          :pager-count="5"
          layout="total, prev, pager, next"
          :total="recipes.length">
        </el-pagination>
      </div>
      <div v-if="navId === 2">厨师</div>
      <div v-if="navId === 3">厨具</div>
      <div v-if="navId === 4">装修</div>
      <div v-if="navId === 5">采集</div>
      <div v-if="navId === 6">任务</div>
      <div v-if="navId === 7">计算器</div>
      <div v-if="navId === 8">个人</div>
      <div v-if="navId === 9">说明</div>
    </section>
  </div>
</body>
<script src="./js/jquery-2.1.4.min.js"></script>
<script src="./js/vue.min.js"></script>
<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<script src="./js/index.js"></script>
</html>